.drink-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
background-color: rgb(41, 41, 41);
  color: #fff;
  background-repeat: no-repeat;

}

.drink-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.drink-info {
  max-width: 50%;
}

.drink-info h1 {
  font-size: 3.5rem;
  color: #ff0015;
  margin-bottom: 15px;
}

.drink-info p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

.shop-btn {
  padding: 12px 25px;
  background-color: #ff0015;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

.shop-btn:hover {
  background-color: #cc2a34;
  transform: scale(1.05);
}

.drink-image {
  max-width: 40%;
}

.product-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.1);
}

.supplement-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.supplement-card {
  background-color: #292929;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 200px;
}

.supplement-info {
  font-family: 'Poppins', sans-serif;
}

.supplement-amount {
  font-size: 2.5rem;
  color: #fca311;
  font-weight: bold;
}

.supplement-name {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
}
